:root {
  --theme-dark-1: rgb(66, 66, 66);
  --theme-dark-2: rgb(128, 128, 128);
  --theme-color: rgb(49, 49, 49);
  --theme-color-hover: rgb(0, 0, 0);
  --theme-color-active: rgb(73, 73, 73);
  --theme-color-2: #29eba0;
  --theme-color-3: rgb(23, 170, 255);
  --theme-warn : rgba(255, 70, 64, 0.76);
  --inactive-color : rgb(175, 175, 175);
  --theme-shadow : 0px 0px 10px -1px black;
  --theme-shadow-2 : 0px 1px 20px 0px rgb(31, 31, 31);
  --radius: 5px;
  --radius-2: 20px;
  --ani-shaking: shaking .7s linear 0s infinite normal;
  --vertical-navi-w : 200px;
  --sessionbar-h : 50px;
}

/* 텍스트 드래그 차단 */
div, span {
  -ms-user-select: none;
  -moz-user-select: -moz-none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  user-select:none;
}

/* html 기본 스타일 차단 */
*, *:focus, *:hover{outline:none;}

/* 스크롤 */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

input {
	-webkit-appearance: none !important;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

.app {
  height: 100vh;
}

.dark {
  background-color: var(--theme-dark-1);
  color: white;
}

/************* 애니메이션 *************/
@keyframes loading-mask {
  0% {transform: translateY(0);}
  50% {transform: translateY(-30px);}
  100% {transform: translateY(0);}
}
@keyframes color-change {
  0% {color: var(--theme-color);}
  50% {color: var(--theme-color-2);}
  100% {color: var(--theme-color);}
}
@keyframes shaking {
  0% {transform: rotate(0deg);}
  35% {transform: rotate(1deg);}
  70% {transform: rotate(-1deg);}
  100% {transform: rotate(0deg);}
}
/**************************************/

.cover-for-hide {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.not-found {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.not-found > div {
  background-color: var(--theme-dark-1);
  box-shadow: 0 0 15px -3px black;
  padding: 50px 0;
}
.not-found span {
  font-weight: bold;
  font-size: 50px;
}

.modal {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.dialog {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 170px;
  background-color: white;
  border-radius: var(--radius);
  box-shadow: var(--theme-shadow-2);
}
.dialog-title {
  height: 28px;
  color: white;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background-color: var(--theme-color);
  padding: 6px 0 0 10px;
  font-weight: bold;
}
.dialog .label {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  padding: 10px;
  margin: 6px;
  height: 60px;
  overflow: auto;
}
.dialog .dialog-btn-box {
  height: 30px;
}
.dialog .dialog-btn-wrap {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: fit-content;
}
.dialog .dialog-btn {
  width: 60px;
  margin: 0 2px;
}

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  height: 20px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  padding: 6px 18px;
  border-radius: var(--radius-2);
  opacity: 1;
  transition: opacity .3s;
}

.input-1 {
  caret-color: var(--theme-color);
  border: 2px solid var(--inactive-color);
  border-radius: var(--radius);
  padding: 7px 7px 7px 15px;
  width: 200px;
  height: 35px;
  margin: 1px;
  box-sizing: border-box;
  transition: border .2s;
}
.input-1:hover {
  border: 2px solid var(--theme-color-2);
}
.input-1:focus {
  border: 2px solid var(--theme-color-2);
}
.input-1::placeholder {
  color: var(--inactive-color);
  padding: 5px;
}

.input-invalid {
  border-color: var(--theme-warn) !important;
  background-color: rgba(255, 182, 182, 0.3);
}

.btn-1 {
  color: white;
  background-color: var(--theme-color);
  border-radius: var(--radius-2);
  text-align: center;
  font-weight: bold;
  height: 28px;
  width: fit-content;
  line-height: 28px;
  padding: 3px 10px !important;
  transition: box-shadow .2s, border .2s, background-color .3s, color .3s;
}
.btn-1:hover {
  color: black;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 3px 10px -3px black;
}
.btn-1:active {
  background-color: var(--theme-color-2);
}

.loadmask > div {
  color: white;
  font-weight: bold;
  font-size: 35px;
  text-shadow: 0 2px 5px black;
  margin: 0 5px;
}
.loadmask > .mask-1 {animation: loading-mask 1.1s ease .1s infinite normal;}
.loadmask > .mask-2 {animation: loading-mask 1.1s ease .2s infinite normal;}
.loadmask > .mask-3 {animation: loading-mask 1.1s ease .3s infinite normal;}
.loadmask > .mask-4 {animation: loading-mask 1.1s ease .4s infinite normal;}
.loadmask > .mask-5 {animation: loading-mask 1.1s ease .5s infinite normal;}
.loadmask > .mask-6 {animation: loading-mask 1.1s ease .6s infinite normal;}
.loadmask > .mask-7 {animation: loading-mask 1.1s ease .7s infinite normal;}
.loadmask > .mask-8 {animation: loading-mask 1.1s ease .8s infinite normal;}
.loadmask > .mask-9 {animation: loading-mask 1.1s ease .9s infinite normal;}
.loadmask > .mask-10 {animation: loading-mask 1.1s ease 1s infinite normal;}

.color-picker {
  z-index: 2;
  position: absolute;
}