:root {
  --theme-dark-1: rgb(66, 66, 66);
  --theme-dark-2: rgb(121, 121, 121);
  --theme-color: rgb(64, 99, 255);
  --theme-color-hover: rgb(40, 79, 255);
  --theme-color-active: rgb(0, 43, 236);
  --theme-color-2: rgba(111, 138, 255, 0.897);
  --theme-warn : rgba(255, 70, 64, 0.76);
  --inactive-color : rgb(175, 175, 175);
  --theme-shadow : 0px 0px 7px -2px black;
  --radius: 5px;
  --radius-2: 20px;
}

/* 텍스트 드래그 차단 */
div, span {
  -ms-user-select: none;
  -moz-user-select: -moz-none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  user-select:none;
}

/* html 기본 스타일 차단 */
*, *:focus, *:hover{outline:none;}

/* 스크롤 */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

input {
	-webkit-appearance: none !important;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

.app {
  height: 100vh;
}

.dark {
  background-color: var(--theme-dark-1);
  color: white;
}

.modal {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.dialog-title {
  height: 28px;
  color: white;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background-color: var(--theme-color);
  padding: 6px 0 0 10px;
  font-weight: bold;
}
.dialog {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 180px;
  background-color: white;
  border-radius: var(--radius);
}
.dialog .label {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  padding: 10px;
  margin: 6px;
  height: 70px;
  overflow: auto;
}
.dialog .dialog-btn-box {
  height: 30px;
}
.dialog .dialog-btn-wrap {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: fit-content;
}
.dialog .dialog-btn {
  width: 60px;
  margin: 0 2px;
}

.toast {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  height: 20px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  padding: 6px 18px;
  border-radius: var(--radius-2);
  opacity: 1;
  transition: opacity .3s;
}

.input-1 {
  caret-color: var(--theme-color);
  border: 1px solid var(--inactive-color);
  border-radius: var(--radius);
  padding: 7px 7px 7px 15px;
  width: 200px;
  height: 35px;
  /* color: var(--inactive-color); */
  margin: 1px;
  box-sizing: border-box;
}
.input-1:hover {
  border: 3px solid var(--theme-color-2);
}
.input-1:focus {
  border: 3px solid var(--theme-color-2);
}
.input-1::placeholder {
  color: var(--inactive-color);
  padding: 5px;
}

.btn-1 {
  color: white;
  background-color: var(--theme-color);
  border-radius: var(--radius-2);
  text-align: center;
  font-weight: bold;
  height: 28px;
  width: fit-content;
  line-height: 28px;
  padding: 3px 10px;
}
.btn-1:hover {
  cursor: pointer;
  background-color: var(--theme-color-hover);
  box-shadow: var(--theme-shadow);
}
.btn-1:active {
  background-color: var(--theme-color-active);
}

.login-back {
  width: 100vw;
  height: 500px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: wheat;
}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: white;
  border-radius: var(--radius);
  text-align: center;
  width: 400px;
  height: 350px;
  box-shadow: 0 0 20px -5px black;
}
.login-box .login-tit {
  font-size: 25px;
  font-weight: bold;
  padding: 25px;
}

.sessionbar-box {
  position: fixed;
  z-index: 1;
  /* top: 0px;
  left: 0px; */
  width: 100%;
  height: 40px;
  background-color: white;
  display: flex;
  padding: 0 10px;
}
.session-title-1 {
  width: fit-content;
  font-size: 28px;
  font-weight: bold;
  color: var(--theme-color);
}
.session-title-2 {
  width: fit-content;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  font-weight: bold;
  color: black;
}
.timer {
  font-weight: bold;
}