.welcome-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.push-w {margin: 0 auto;}
.push-h {margin: auto 0;}
  
.app-name {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;
    text-shadow: 0 10px 5px black;
    /* animation: color-change 1s ease 0s infinite normal; */
}

.login-back {
    width: 100vw;
    height: 500px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: wheat;
}
.login-box {
    color: black;
    background-color: white;
    border-radius: var(--radius);
    text-align: center;
    width: 400px;
    height: 350px;
    box-shadow: 0 10px 20px 0px rgb(0, 0, 0);
}
.login-box .login-tit {
    font-size: 25px;
    font-weight: bold;
    padding: 25px;
}

.sessionbar-box {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
    display: flex;
    padding: 5px;
    box-shadow: var(--theme-shadow);
}
.sessionbar-box > table {
    width: 100%;
}
.sessionbar-h {height: var(--sessionbar-h);}
.session-title-1 {
    display: flex;
    min-width: 400px;
    width: 40%;
}
.session-sub-1 {
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    margin-right: 15px;
    color: var(--theme-color-2);
}
.session-sub-2 {
    font-size: 16px;
    line-height: 34px;
    font-weight: bold;
    color: black;
}
.session-title-3 {
    display: flex;
    margin-right: 20px;
}
.session-title-3 > div {margin-left: 5px;}

.clock-box {
    color: black;
    font-weight: bold;
    line-height: 35px;
}
.clock-sub-1 {
    font-size: 22px;
    margin-right: 10px;
}
.clock-sub-2 {
    display: flex;
    font-size: 15px;
}

.hide-node {display: none;}

.dropdown-box .combo {
    width: fit-content;
    min-width: 30px;
    height: 20px;
    background-color: white;
}
.dropdown-box .combo:hover {
    cursor: pointer;
}
.drop-list {
    position: absolute;
    width: fit-content;
    background-color: white;
    border: 1px solid var(--inactive-color);
    border-radius: var(--radius);
    box-shadow: var(--theme-shadow-2);
    transform: translateX(-50%);
}
.drop-list > div {
    color: black;
    font-size: 18px;
    text-align: left;
    padding: 5px 10px;
    transition: background-color .2s;
}
.drop-list > div:hover {
    cursor: pointer;
    color: white;
    background-color: var(--inactive-color);
}

.loadmask {
    /* z-index: 11; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: fit-content;
    height: 50px;
}

.main-box {
    overflow: hidden;
}

.vertical-navi {
    height: 100vh;
    width: var(--vertical-navi-w);
    min-width: var(--vertical-navi-w);
    box-shadow: var(--theme-shadow);
    background-color: rgb(155, 155, 155);
    transition: transform .3s;
}
.vertical-navi-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.vertical-navi-hide {
    transform: translateX(-100%);
}
.vertical-navi-sub {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transform: translate(200px, calc(-100% - 5px));
    width: 20px;
    height: 70px;
    font-size: 25px;
    text-align: center;
    background-color: white;
    box-shadow: 7px 3px 10px -7px black;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}
.vertical-navi-sub:hover {
    cursor: pointer;
}
.vertical-navi-sub > div {
    transition: transform .5s;
}

.turn-180 {transform: rotate(180deg);}
.turn-un-180 {transform: rotate(-180deg);}

.noteList-box {
    /* background-color: white; */
}
.noteLabel-box {
    position: relative;
    background-color: rgb(97, 97, 97);
    height: 35px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    line-height: 35px;
    margin: 0 0 5px 0;
    padding-left: 10px;
    border-radius: var(--radius);
    transition: background-color .2s, font-size .2s, top .1s, left .1s, border .2s;
}
.noteLabel-box:hover {
    border-left-width: 10px !important;
    background-color: rgb(129, 129, 129);
    cursor: pointer;
    font-size: 17px;
}
.noteLabel-box:active {
    z-index: 5;
    opacity: .6;
    /* transform: scale(0.9); */
    transition: none;
}
.noteLabel-box .note-name {
    display: flex;
    justify-content: space-between;
}
.noteLabel-box img {
    height: 15px;
    margin: 6px 3px 0 0;
    padding: 3px;
    border-radius: var(--radius);
    transition: box-shadow .2s;
}
.noteLabel-box img:hover {
    /* box-shadow: 0 0 1px 2px white; */
}
.noteLabel-box .note-name-edit {
    display: flex;
    justify-content: space-between;
}
.noteLabel-box input {
    border-radius: var(--radius);
    width: calc(100% - 5px);
    height: 30px;
}
.noteLabel-selected {
    box-shadow: 0 0 3px 2px var(--theme-color-2);
}
.noteLabel-edit {
    /* animation: var(--ani-shaking); */
}
.covered {
    background-color: white;
    color: black;
}

.navi-footer-box {
    display: flex;
    flex-direction: column;
}
.footer-input-box {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    background-color: white;
    color: black;
    transition: top .3s;
}
.footer-input-hide {top: 0px;}
.wrap-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-buttons {
    display: flex;
}
.footer-buttons > div {
    z-index: 1;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-weight: bold; 
    background-color: black;
    transition: background-color .2s, color .2s, font-size .2s;
}
.footer-buttons > div:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}
.footer-buttons > div:active {
    font-size: smaller;
}

.footer-btn-sel {
    background-color: white !important;
    color: black !important;
}

.add-input-box {
    display: flex;
    position: relative;
    background-color: white !important;
    color: black;
    border-radius: var(--radius);
}

.content-box {
    position: relative;
    z-index: 0;
    padding: 5px 15px;
    left: 0px;
    transition: left .3s;
}
.content-box-note-name {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    background-color: rgb(71, 71, 71);
    box-shadow: 0 3px 10px 0 black;
    width: fit-content;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    font-weight: bold;
    font-size: 20px;
}
.content-box-header {
    display: flex;
}
.content-box-expand {
    left : calc(15px - var(--vertical-navi-w));
}
.content-box .cont-box {
    /* background-color: white !important; */
    width: calc(100vw - var(--vertical-navi-w) - 50px);
    height: calc(100vh - 125px);
    overflow-y: auto;
    line-height: calc(100% + 8px);
    border-radius: var(--radius);
    box-shadow: 0 0 5px 0px black;
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 10px;
    font-size: 14px;
    transition: width .3s;
}
.content-box-expand > .cont-box {
    width : calc(100vw - 60px);
}

.history-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    border-radius: var(--radius);
    background-color: white;
    color: black;
    box-shadow: 0 10px 20px 0 black;
}
.history-popup-title {
    display: flex;
    justify-content: space-between;
    margin: 5px 15px;
    font-weight: bold;
}
.history-popup-title > span {
    line-height: 30px;
}
.history-popup-title > div {
    font-size: 20px;
    width: 25px;
    text-align: center;
    border-radius: var(--radius);
}
.history-popup-list table {
    width: 100%;
}
.history-popup-list th {
    background-color: rgb(227, 242, 255);
    height: 35px;
    transition: background-color .2s;
}
.history-popup-list th:hover {cursor: pointer; background-color: rgb(174, 217, 255);}
.history-popup-list tr:hover {background-color: rgb(210, 234, 255);}
.history-popup-list colgroup > col:nth-child(1) {width: 30%;}
.history-popup-list colgroup > col:nth-child(2) {width: 40%;}
.history-popup-list colgroup > col:nth-child(3) {width: 30%;}
.history-popup-list td {text-align: center;}

.hover-effect:hover {
    cursor: pointer;
    transform: translateY(-4px);
    text-shadow: 0 2px 2px black;
    transition: transform .2s, text-shadow .2s;
}

.toolbar-box {
    display: flex;
    justify-content: space-between;
    width: 200px;
    background-color: white;
    padding: 5px 10px;
    margin: 0 15px;
    border-radius: var(--radius);
}
.toolbar-box > select {
    width: 50px;
    border: 0px;
    border-radius: var(--radius);
    font-weight: bold;
    box-shadow: 0 0 8px -3px black;
    padding: 0 3px;
}
.toolbar-box > .edit-tools, .toolbar-box > .picker-box{
    cursor: pointer;
}
.toolbar-box > svg {
    /* border: 1px solid black; */
    margin: auto 0;
}
.edit-tools {
    display: flex;
    width: 100px;
    justify-content: space-around;
}